.container{
    width: 80%;
    margin:30px auto;
    border-style: solid;
    border-color: darkgreen;
}

 .back{   
    background-image: url('..//images/coffee.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section_content
{
    background-color: darkorange;
    
}
.f_container
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: salmon;
}
.f_item{
    flex-basis: 90px;
    border-style: solid;
    border-color: crimson;
    background-color: springgreen;
}
a{    width:100px;
    background-color:teal;
    color: deeppink;
}

p{ color:purple;
background-color: wheat;}

.nav{
    background-color: gold;
}
.lang{
    background-color: lightseagreen;
}
.contact
{
    background-color: lightslategrey;
}
div{
    background-color: maroon;
    width=100px;
    padding=70px;
}